body {
    font-size: 22px;
    font-family: 'Baloo Bhai', 'Hubballi', sans-serif;
    background-color: rgb(255, 248, 248);
}

.nav-child {
    display: flex;
    justify-content: center;

}

.h1 {
    color: rgb(235, 80, 106);
}

nav ul {
    list-style-type: none;
}

li {
    margin-right: 1rem;
}

li a {
    text-decoration: none;
    color: black;
}

.form-control {
    width: 65%;
    height: 2rem;
}

.btn {
    margin-top: 3.2rem;
    width: 10rem;
    height: 3rem;
    border-radius: 10px;
    background-color: orange;
    font-size: smaller;
    cursor: pointer;
    
}

.page-footer {
    background-color: rgb(221, 186, 186);
    position: fixed;
    bottom: 0;
    width: 100%;
}
.m_nav{
    display: none;
}
@media only screen and (max-width: 600px) {
    body {
        font-size: medium;
    }

    .nav ul {
        display: none;

    }

    

    .m_nav {
        display: flex;
        justify-content: space-between;
        margin: 2rem auto;
    }
    .form-control {
        width: 85%;
        height: 2.5rem;
        border-radius: 1rem;
    }
    .btn{
        border-radius: 1.8rem;
    }
}

